
body {
  padding-left:50px;
  background-color: #fff;
  text-align:left;
  font-family: 'Roboto', sans-serif;
  color:#727272;
  font-weight:500;
  max-width:650px;
  line-height:1.2;
  padding: 30px 10px;
  margin-left: 150px;  
  margin-right: auto;  
}

header {
  background-color: #fff;
  font-family: 'Roboto', sans-serif;
  color:#727272;
  font-weight:900;
}

h1, h2, h3, h4, h5, h6 {
  color:#222;
  line-height:1.2;
}
